.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(to top, #B9E5F3, #51A2D9) ;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 120vh;
  text-align: center;

}

button {
  border-radius: 0px;
  background: #8A140E;
  box-shadow: inset -22px -22px 44px #570d09,
              inset 22px 22px 44px #bd1b13;
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  margin: 5px;
}

img {
  border-radius: 0px;
  background: #53C0F0;
  box-shadow:  -10px -10px 20px #347997,
               10px 10px 20px #72ffff;
  padding: 3px;
}

h1 {
  border-radius: 0px;
  background: #51A2D9;
  box-shadow:  -18px -18px 35px #336689,
               18px 18px 35px #6fdeff;
  color: #E0E8F0;
  padding: 5px;
  margin-top: 10px;
}

h3 {
  color: #E0E8F0;;
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 20px;
  color: #8A140E
}


